.main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  height: 100vh;
  width: 100%;
}

.titleRow {
  color: var(--tfp-chart-warning);
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 500;
  padding: 10px 12px 0 12px;
  display: flex;
  flex-direction: row;
  min-height: 55px;
}

.titleRow :first-child {
  margin-right: 10px;
  flex-shrink: 1;
}

.headerColumns {
  display: flex;
  gap: 20px;
}

.headerColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 50%;
}

@media screen and (max-width: 1170px) {
  .headerColumn:first-of-type {
    width: 40%;
  }
  .headerColumn:last-of-type {
    width: 60%;
  }
}

@media screen and (max-width: 1050px) {
  .headerColumn:first-of-type {
    width: 50%;
  }
  .headerColumn:last-of-type {
    position: relative; /* constrain abs-pos search input */
    width: 50%;
  }
}

@media screen and (max-width: 725px) {
  .headerColumn:first-of-type {
    width: 100%;
    align-items: center;
  }
  .headerColumn:last-of-type {
    width: 100%;
    align-items: center;
  }
  .headerColumns {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
  }
}

.statusRow {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding: 6px 12px;
  gap: 10px;
}

@media screen and (max-width: 725px) {
  .titleRow {
    line-height: 1.2em;
    text-align: center;
    margin: 0 10px;
  }

  .statusRow {
    font-size: 16px;
    width: 100%;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.statusRowSpinner {
  padding-top: 3px;
}

.filterRow {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  gap: 10px;
}

.headerCell {
  background-color: var(--ifm-navbar-background-color);
  border-top: 2px solid var(--ifm-footer-bg-color);
  font-weight: 700;
  display: inline-block;
}

.cell {
  position: relative;
  padding: 4px 10px;
  border-bottom: 1px solid var(--ifm-footer-bg-color);
}

.cellText {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.englishNameCell {
  padding-left: 34px;
}

.personIcon {
  top: 5px;
  left: 0px;
  position: absolute;
}

.personIcon path {
  fill: var(--ifm-color-primary-darkest);
}

.scrollProgress {
  width: 100%;
}

.scrollProgressBar {
  height: 2px;
  background-color: var(--ifm-color-primary);
}

.gridConstraint {
  position: relative;
}

.gridOverlay {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.95);
}

.noSearchMatches {
  gap: 20px;
}

[data-theme="light"] {
  .gridOverlay {
    background-color: rgba(220, 220, 220, 0.95);
  }
}

.gridContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 16px;
  background-color: var(--ifm-navbar-background-color);
}

.gridContainer::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--ifm-color-primary-darkest);
}
