:root {
  --card-bg-color: #f6f6f6;
  --card-value-color: #007a3d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --card-bg-color: #342d26;
  --card-value-color: #9df2b0;
}

.previewContainer {
  margin-bottom: 50px;
}

.cardContainer {
  margin-bottom: 10px;
}

.cardContentWrapper {
  background-color: var(--card-bg-color);
}

.previewDataValue {
  font-size: 34px;
  font-weight: 800;
  color: var(--card-value-color);
}

.previewDataLabel {
  font-size: 20px;
  font-weight: 700;
}
