:root {
  --tfp-example-card-bg: rgb(245, 245, 245);
}

[data-theme="dark"] {
  --tfp-example-card-bg: var(--ifm-navbar-background-color);
}

.exampleCard {
  background-color: var(--tfp-example-card-bg);
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.2);
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.exampleCard:hover {
  box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.1);
}

.exampleImage {
  max-width: 100%;
  aspect-ratio: 4/2;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.exampleCard > div {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
