.chartContainer {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
}

.chartTitle {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: bold;
  color: #444;
}

.chartTitle span {
  color: #3cad6e;
  font-weight: normal;
}

.chartContainer svg {
  max-width: 100%;
}

.chartBreakdownTags {
  position: absolute;
  max-width: 50%;
}

.chartBreakdownTag {
  display: inline-block;
  background-color: white;
  border: 1px solid #eee;
  padding: 3px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.chartBreakdownTag span {
  color: #ca3a32;
}

.chartSlider {
  width: 100%;
  padding-top: 40px;
}

.chartSliderLabel {
  display: inline-block;
  position: absolute;
  right: 0;
}

.chartSlider input[type="range"] {
  width: 100%;
  accent-color: var(--ifm-color-primary);
}

.chartRadials {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
}

.chartRadials > div:first-of-type {
  position: relative;
  top: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #29784c;
}

.chartRadials > div:nth-of-type(2) {
  display: flex;
  text-align: center;
}

.chartFooterCopy {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10;
  text-align: center;
  font-size: 0.9em;
  max-width: 50%;
  padding-bottom: 5px;
}

.chartFooterCopy p {
  margin: 5px 0;
}
