:root {
  --tfp-contact-bg: #f8f8f8;
  --tfp-contact-fg: #555;
}

[data-theme="dark"] {
  --tfp-contact-bg: #222;
  --tfp-contact-fg: #aaa;
}

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroSubtitle {
  padding-top: 0.4em;
}

[data-theme="dark"] .heroBanner {
  color: white;
  background-color: #1a8870;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2.5rem;
    padding-bottom: 2rem;
  }

  .heroTitle {
    font-size: 2.5rem;
  }

  .heroSubtitle {
    font-size: 1.4rem;
    padding-top: 0.7em;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBlock {
  background-color: var(--tfp-contact-bg);
  text-align: center;
  padding: 80px 20px;
  font-size: 1.7em;
  line-height: 1.2em;
  color: var(--tfp-contact-fg);
}

.contactBlock > a {
  font-size: 0.7em;
  margin-top: 25px;
}
