.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvgDailies {
  height: 200px;
  width: 200px;
}

.featureSvgKilled {
  height: 150px;
  width: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.featureSvgSummary {
  height: 170px;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 996px) {
  .featureButtonImage {
    margin-top: 20px;
  }
}
