.bar {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.button {
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  border-radius: 8px;
  background-color: var(--ifm-color-primary-darkest);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button svg {
  position: relative;
  left: -1px;
}

[data-theme="light"] .button path {
  stroke: #eee;
}

[data-theme="light"] .button {
  box-shadow: 0px 8px 0px rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  background-color: var(--ifm-color-primary-lightest);
}
